.page {
  width: 100%;
  font-family: 'Montserrat', 'Arial', 'sans-serif';
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}