.entry__input-date {
  height: 43px;
  outline: none;
  border: none;
  padding-left: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #959595;
  background-color: #DCE9FF;
  border-radius: 6px;
  margin-bottom: 24px;
}

.entry__input-date::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #959595;
}