.doctors__title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #7CABFF;
  margin-top: 48px;
}
 

.staff .doctors__title {
  margin-top: 0;
}