.footer__info-link {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 15px;
}

.footer__info-links li:last-child .footer__info-link {
  margin-bottom: 0;
}