.banner__control {
  margin: 0;
  padding: 0;
  background-color: #7CABFF;
  list-style-type: none;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin-right: 5px;
}

.banner__control:hover {
  cursor: pointer;
}

.banner__control:last-child {
  margin-right: 0;
}