.medosm__paragraph {
  margin: 0;
  padding: 0;
  width: 197px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #000000;
  margin-bottom: 15px;
}