.skidki__img {
  position: absolute;
  width: 100%;
  height: 197px;
  object-fit: cover;
  object-position: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(image.png);
  filter: blur(1px);
  z-index: 0;
}