.header__btn-entry {
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 11px;
  background-color: #7CABFF;
  border-radius: 8px;
  padding: 9px 7px;
  color: #fff;
}

.header__btn-entry:hover {
  cursor: pointer;
  background-color: #FFDA87;
  color: #A17000;
}