.contacts__bus {
  width: 39px;
  height: 16px;
  background-color: #7CABFF;
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  margin-right: 5px;
  margin-bottom: 6px;
}

.contacts__bus:nth-child(5n) {
  margin-right: 0;
}