.header__nav-menu {
  text-decoration: none;
  /* width: 100%; */
  min-width: max-content;
  display: flex;
  align-items: center;
  height: 45px;
  /* padding: 0 10px; */
}

.header__nav-menu:hover {
  background-color: #FFDA87;
  color: #A17000;
}